@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.table-chart__wrapper {
  width: 100%;
  background-color: $gray-0;
  overflow-x: auto; 
  overflow-y: hidden;

  &--lg {
    max-width: 100%;
  }
}

.table-chart {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  border: 1px solid $gray-100;
  text-align: left;
  table-layout: fixed; 

  thead {
    background-color: $gray-50;
    border-bottom: 1px solid $gray-200;
  }

  &__th {
    font-weight: 600;
    color: $gray-700;
    text-align: center;
    padding: 8px 10px;
    user-select: none;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;

    &.sortable {
      cursor: pointer;

      &:hover {
        background-color: $gray-100;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
  }

  &__row {
    transition: background-color 0.15s ease;

    &:hover {
      background-color: $gray-50;
    }
  }

  td {
    padding: 8px 10px;
    border-bottom: 1px solid $gray-100;
    color: $gray-800;
    font-size: 12px;
    text-align: center;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 

    &.numeric {
      text-align: right;
    }
  }
}

/* rank change 색상 정의 */
.rank-change {
  font-weight: 600;

  &.up {
    color: $sematic-error; 
  }
  &.down {
    color: $main-500;
  }
  &.neutral {
    color: $gray-500;
  }
}
