@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.table-chart__wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  background-color: $gray-0;

  &--sm {
    max-width: 400px;
    max-height: 160px;
  }

  &--md {
    max-width: 900px;
  }

  &--lg {
    max-width: 100%;
  }
}

.table-chart {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  text-align: center;
  border: 1px solid $gray-100;

  th {
    background-color: $gray-50;
    color: $gray-600;
    font-weight: 600;
    padding: 4px;
    border-bottom: 1px solid $gray-200;
    user-select: none;

    &.sortable {
      cursor: pointer;

      &:hover {
        background-color: $gray-100;
      }
    }

    .table-chart__th-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    .table-chart__sort-icon {
      font-size: 10px;
      color: $gray-500;
    }
  }

  td {
    padding: 3px;
    border-bottom: 1px solid $gray-100;
    color: $gray-800;
    cursor: pointer;
  }

  tr:last-child td {
    border-bottom: none;
  }
}
