@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;

  &__icon {
    width: 16px;
    height: 16px;
  }

  /* 크기 */
  &--sm {
    padding: 8px 12px;
    border-radius: 3px;
    @include text-styles("label02");
  }

  &--md {
    padding: 12px 16px;
    border-radius: 5px;
    @include text-styles("body02");
  }

  /* 색상 */
  &--primary {
    color: $gray-0;
    background-color: $main-600; 

    &:hover {
      background-color: $main-800; 
    }
  }

  &--white {
    color: $gray-700;
    background-color: $gray-0; 
    border: 1px solid $gray-200;

    &:hover {
      background-color: $gray-50;  
      border: 1px solid $gray-300;
    }
  }
}
