@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.tab-menu {
  background: $gray-0;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid $gray-100;

  &__tab {
      background: none;
      border: none;
      border-radius: 0px;
      cursor: pointer;
      color: $gray-300;
      @include text-styles("heading04");

      &.active {
        color: $main-600;
        border-bottom: 1px solid $main-600;
      }

      &:hover {
        color: $main-600;
      }
  }
}
