@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.tab-menu {
<<<<<<< HEAD
=======
  background: $gray-0;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid $gray-100;

>>>>>>> db11cb046b5755231bd985ce52bf91082ac2342b
  &__tab {
      background: none;
      border: none;
      border-radius: 0px;
      cursor: pointer;
      color: $gray-300;
      @include text-styles("heading04");

      &.active {
        color: $main-600;
        border-bottom: 1px solid $main-600;
      }

      &:hover {
        color: $main-600;
      }
  }
}
