@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

// 전체 틀
.sql-stat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;

  // 검색 영역
  &__search {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    background: $gray-0;

    // 왼쪽 영역 
    &-left {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      padding: 20px;
      border-radius: 5px;
    
        // 버튼 3개
        &-btns {
          display: flex;
          gap: 10px;
      }
    }

    // 오른쪽 영역 
    &-right {
      display: flex;
      padding: 20px;
    }
  }

  // 차트 영역
  &__chart-null {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    color: #999;
    font-size: 15px;
    border: 1px dashed #dcdcdc;
    border-radius: 8px;
    margin-top: 10px;
    background: #fafafa;
  }

    &__summary {
      background: $gray-0;
      border-radius: 5px;
      padding: 20px;
      color: $gray-700;
      @include text-styles("body02");
    }

    // 테이블 영역
    &__table {
      padding: 20px;
      border-radius:5px;
      background-color:  $gray-0;
      color: $gray-700;
      @include text-styles("body02");

      &-null {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        color: $gray-500;
        @include text-styles("body02");
      }
    }

    // 테이블 행 클릭 
      &__sql-clickable {
      cursor: pointer;
      color: $main-600;

      &:hover {
        text-decoration: underline;
      }
    }

    // 로딩 영역
    &__stat__loading {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

  }

