// 공통 함수, 반응형 등

@use 'variables' as *;  

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-style($size, $weight: 500, $lineHeight: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  font-family: $font-family;
}

@mixin shadow {
  box-shadow: $shadow-basic;
}

@mixin transition($prop: all, $time: 0.2s) {
  transition: $prop $time ease-in-out;
}
