@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.status-card-group {
    gap: 10px;
    display: flex;
    align-items: center;
}

.status-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-image: 
    linear-gradient(#2D4054, #17263B), // 내부 배경
    linear-gradient(90deg, #7F9CB6, #3B5775); // 외곽선 gradient
  background-origin: border-box;
  background-clip: padding-box, border-box;

  &__title {
    @include text-styles("body02");
    color: $gray-0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__value {
    @include text-styles("title03");
    color: $gray-0;
  }

  &__sub {
    @include text-styles("label02");
  }

  .trend-up {
    color: $green-400;
  }

  .trend-down {
    color: $red-400;
  }
}
