@use "sass:map";
@use "@/styles/typography" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.select-field {
  display: flex;
  flex-direction: column;
  flex: 1;

  label {
    @include text-styles("body02");
    color: $gray-700;
    margin-bottom: 10px;
  }

  select {
    width: 100%;
    border: 1px solid $gray-300;
    border-radius: 5px;
    padding: 12px 16px;
    color: $gray-700;
    background-color: $gray-0;
    cursor: pointer;

    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 20px;

    &:focus {
      border-color: $main-500;
      box-shadow: 0 0 0 3px rgba($main-500, 0.15);
      outline: none;
    }

    &:disabled {
      background-color: $gray-100;
      cursor: not-allowed;
    }
  }

  /* Size */
  &--sm select {
    padding: 12px 16px;
    width: 30%;
    border-radius: 3px;
    @include text-styles("body02");
  }

  &--md select {
    padding: 12px 16px;
    width: 50%;
    border-radius: 5px;
    @include text-styles("heading04");
  }

  &--lg select {
     padding: 12px 16px;
    width: 100%;
    border-radius: 5px;
    @include text-styles("heading04");
  }

}
