@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.metric-grid {
  display: grid;
  gap: 5px;
  width: 100%;
  height: 90%;
  margin-top: 5px;
}

.metric-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: $gray-50;
  padding: 8px;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);

    // hover 시 subtitle 나타나기
    .metric-card__subtitle {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__title {
    color: $gray-500;
    font-size: 8px;
    font-weight: 500;
  }

  &__value {
    color: $gray-900;
    @include text-styles("title03");
    margin: 2px 0;
  }

  &__icon {
    width: 32px; 
    height: 32px;
    margin: 2px 0;
    object-fit: contain;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__subtitle {
    font-size: 9px;
    color: $gray-400;
    position: absolute;
    bottom: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.2s ease;
  }
}
