@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.metric-grid {
  display: grid;
  gap: 5px;
  width: 100%;
  margin-top: 5px;
}

.metric-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: $gray-50;
  padding: 5px;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  }

  &__title {
    color: $gray-500;
    @include text-styles("label02");
  }

  &__value {
    color: $gray-900;
    @include text-styles("heading01");
  }

  &__subtitle {
    font-size: 10px;
    color: $gray-300;
  }
}
