@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.metric-grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.metric-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: all 0.2s ease;
  padding: 10px;
  cursor: pointer;


  &:hover {
    transform: translateY(-3px);
    
    .metric-card__subtitle {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__title {
    color: $gray-400;
    font-size: 8pt;
  }

  &__value {
    color: $gray-900;
    @include text-styles("heading01");
  }

  &__icon {
    width: 40px; 
    height: 40px;
    margin: 2px 0;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__subtitle {
    font-size: 10px;
    color: $gray-400;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.2s ease;
  }
}
