@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.status-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4개씩 1줄 나열
  gap: 10px;
}

.status-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: $gray-0;
  text-align: center;
  padding: 10px;

  &__label {
    @include text-styles("heading04");
  }

  &__value {
    @include text-styles("title01");
  }

  &--safe {
    color: $green-500;
    border: 1px solid $green-500;
    background: $green-100;
  }

  &--warning {
    color: $sematic-warning;
    border: 1px solid $sematic-warning;
    background: $yellow-100;
  }

  &--danger {
    color: $sematic-error;
    border: 1px solid $sematic-error;
    background: $red-100;
  }

  &--critical {
    color: $gray-800;
    border: 1px solid $gray-800;
    background: $gray-100;
  }
}
