@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.status-card-group {
    gap: 10px;
    display: flex;
    align-items: center;
}

.database-status-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;

  &--safe {
    background: $green-500;
  }

  &--warning {
    background: $sematic-warning;
  }

  &--danger {
    background: $sematic-error;
  }

  &--critical {
    background: $gray-800;
  }

  &__title {
    @include text-styles("body02");
    color: $gray-0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__value {
    @include text-styles("title03");
    color: $gray-0;
  }

  &__sub {
    @include text-styles("label02");
  }

  .trend-up {
    color: $green-400;
  }

  .trend-down {
    color: $red-400;
  }
}
