@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.status-card-group {
<<<<<<< HEAD
    gap: 10px;
    display: flex;
    align-items: center;
}

.database-status-card {
=======
  gap: 10px;
  width: 100%;
>>>>>>> db11cb046b5755231bd985ce52bf91082ac2342b
  display: flex;
  align-items: center;
<<<<<<< HEAD
=======
  justify-content: center;
  border: 1px solid transparent;
  background-image: 
  linear-gradient(#2D4054, #17263B), 
  linear-gradient(90deg, #7F9CB6, #3B5775);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 5px;
}

.database-status-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
>>>>>>> db11cb046b5755231bd985ce52bf91082ac2342b
  padding: 20px;
  border-radius: 5px;

  &--safe {
    background: $green-500;
  }

  &--warning {
    background: $sematic-warning;
  }

  &--danger {
    background: $sematic-error;
  }

  &--critical {
    background: $gray-800;
  }

  &__title {
    @include text-styles("body02");
    color: $gray-0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__value {
    @include text-styles("title03");
    color: $gray-0;
  }

  &__sub {
    @include text-styles("label02");
  }

  .trend-up {
    color: $green-400;
  }

  .trend-down {
    color: $red-400;
  }
}
