@use "sass:map";
@use "@/styles/typography" as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.header {
  width: 100%;
  height: 80px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);


  // 왼쪽, 오른쪽 영역 
  &__left, &__right, &__status {
    display: flex;
    align-items: center;
    height: 80px;
    color: var(--color-text);
  }

    &__left, &__right {
    gap: 20px;
  }
  
  // DB 상태 
  &__status {
    gap: 10px;
  }

  // DB 이름 
  &__title {
    @include text-styles("heading02");
  }
  // 시간
  &__time {

    &--wrapper {
      gap: 10px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      border-radius: 24px;
      border: 1px solid $gray-0;
      overflow: hidden; // 게이지 영역만 흰색 차도록
    }

    // 게이지 (흰색 부분)
    &--progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 24px;
      background-color: white;
      transition: width 1s linear;
    }

    // 아이콘 (게이지 안 왼쪽)
    &--icon {
      position: relative;
      width: 28px;
      height: 28px;
    }

    // 시간 텍스트
    &--title {
      position: relative;
      color: $gray-500;
    }
  }

  // 알림
  &__alert {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 24px;
    background-color: white;
  }

  // 라이트 / 다크 모드 
  &__mode {
    gap: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: white;
    cursor: pointer;

    // 각 아이콘 컨테이너
    & > div {
      display: flex;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.2s ease;

    }

    // 클릭된 상태
    &--active {
      background-color: $gray-900 !important;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  // 시간
  &__update {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 7px 20px; 
    border-radius: 24px; 
    background-color: $gray-0;

      .header__date {
        @include text-styles("label01");
        color: $gray-900;
      }

      .header__text {
        @include text-styles("label02");
        color: $gray-500;
      }
    }
  }

