@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.sidebar {
  width: 30%;
  max-width: 240px;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-sidebar-bg);
  color: $gray-300;

  // 축소
  &--collapsed { 
    width: 10%;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; 

    .sidebar__logo img[alt="sidebarIcon"],
    .sidebar__item--parent--left span,
    .sidebar__footer span,
    .arrow {
      display: none;
    }

    .sidebar__submenu {
      display: none;
    }

    .sidebar__item,
    .sidebar__item--parent {
      justify-content: center;
    }

    .sidebar__logo {
      justify-content: center;
    }
   }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 자동으로 양쪽 끝으로 배치 */
    padding: 0px 20px;
    cursor: pointer;

    &--left {
      display: flex;
      align-items: center;  
      justify-content: center;  
      gap: 10px; 
    }

  }

  &__title {
     @include text-styles("heading02");
  }

  &__divider {
    height: 1px;
    margin: 10px;
    background-color: $gray-800;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    img {
      width: 24px;
      width: 24px;
    }
  }

  &__item,
  &__item--parent{
    gap: 10px;
    padding: 20px;
    margin: 0 20px; 
    color: $gray-300;
    border-radius: 10px; 
    display: flex;
    cursor: pointer;

    &--title {
      @include text-styles("heading02");
    }
    
    &:hover {
      color: var(--color-sidebar-text);
      background-color: var(--color-active-tap-bg);
    }

    &.active {
      color: var(--color-sidebar-text);
      background: var(--color-active-tap-bg);
      outline: 1px solid var(--color-active-tap-stroke);
    }

    &--left {
      gap: 10px; 
      padding: 20px;
      margin: 0px 20px;
      display: flex;
      align-items: center;  
      justify-content: center;  
      cursor: pointer;

      &:hover {
      color: var(--color-sidebar-text);
      background-color: var(--color-active-tap-bg);
    }

    &.active {
      color: var(--color-sidebar-text);
      background: var(--color-active-tap-bg);
      outline: 1px solid var(--color-active-tap-stroke);
    }
    }

    &--arrow {
      display: flex;
      align-items: center;
      justify-content: space-between; 

    }
  }

  &__submenu {
    display: flex;
    flex-direction: column;
  }

  &__subitem {
    gap: 10px;
    margin: 0px 20px;
    padding: 10px 48px;
    color: $gray-300;
    border-radius: 10px; 
    display: flex;
    cursor: pointer;
    
    &:hover {
      color: var(--color-sidebar-text);
      background-color: var(--color-active-tap-bg);
    }

    &.active {
      color: var(--color-sidebar-text);
      background: var(--color-active-tap-bg);
      outline: 1px solid var(--color-active-tap-stroke);
    }
  }

  &__footer {
    display: flex;
    justify-content: center;  
    flex-direction: column; // 세로 정렬
    margin-top: auto; // 맨 아래로 자동 배치

    .sidebar__item--user {
      gap: 10px;
      padding: 20px;
      margin: 10px 10px; 
      display: flex;
      cursor: pointer;
      color: var(--color-sidebar-text);
      border-top: 1px solid $gray-800;

    img {
      width: 40px;
      height: 40px;
    }

    .user-info {
      display: flex;
      flex-direction: column;

        .user-email {
          color: $gray-300;
          @include text-styles("label02");
        }
      }
    }
  }
}
