@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.alert-log {

  // 상단 영역
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    background: var(--color-surface);
    border-radius: 5px;

    &-left {
      display: flex;
      align-items: flex-end;
      gap: 10px; 
    }
  }
    
    // 테이블 영역 
    &__table-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        background: var(--color-surface);
        text-align: center;
    }

    &__table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        margin-bottom: 10px
    }

    &__table-icons {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }

    &__table-title {
        @include text-styles("heading04");
        color: var(--color-text);
    }

    .alert-table {
      width: 100%;
      background: var(--color-surface);
      border-radius: 10px;
      border-collapse: collapse;
      color: var(--color-text);

      &-btn {
          padding: 12px 16px;
          border: 1px solid var(--color-border);
          @include text-styles("heading04");
      }

      th {
          background: var(--color-bg);
          padding: 12px 16px;
          border-top: 1px solid var(--color-border);
          border-bottom: 1px solid var(--color-border);
          @include text-styles("heading04");
      }

      td {
        padding: 12px 16px;
        border-bottom: 1px solid var(--color-border);
        @include text-styles("heading04");
      }

      tr:hover {
        background: var(--color-bg);
      }
    }

    // 위험도 영역
    .severity-dot {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: inline-block;

      &--yellow {
        background: $sematic-warning;
      }

      &--red {
        background: $sematic-error;
      }

      &--black {
        background: $gray-900;
      }
    }
  }