@use "sass:map";
@use "@/styles/_typography.scss" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

// 차트 추가 정보
.chart-add-info {
    width: 90%;

    &-container {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-text {
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $gray-400;
            font-size: 8pt;

            &-success {
                width: 10px;
                height: 10px;
                border-radius: 2px;
                background: $sematic-success;
            }

            &-warning {
                width: 10px;
                height: 10px;
                border-radius: 2px;
                background: $sematic-warning;
            }
            
            &-error {
                width: 10px;
                height: 10px;
                border-radius: 2px;
                background: $sematic-error;
            }
        }
    }
}



// memory 탭 관련
.chart-section {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .chart-grid {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .chart-metrics {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: $gray-300;
    @include text-styles("label02");
  }
}
